html{ 
  line-height: 1.4;
  font-family: sans-serif; 
  font-size: 1em;
}

body {
  color: #fff;
  background-color: #300A24;
  font-family: Consolas, monaco, monospace;
}

.container {}

.title {
  text-align: center;
  letter-spacing: 0.2rem;
  font-style: italic;
}

.about {
  width: 250px;
  text-align: justify;
  margin-left: auto;
  margin-right: auto;
}

.navlinks {
  text-align: center;
}

.pro {
  text-align: center;
}

.link {
  color: #fff;
  text-decoration: none;
}

.link:hover {
  color: #8A084B;
  text-decoration: underline;
}

.lines {
  width: 270px;
}

